body {
  font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.typical-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.47;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: var(--primary-text-color);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  width: 200px;
  height: 45px;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}

.header .header-list {
  display: flex;
  justify-content: flex-end;
}

.header .header-list .header-link {
  display: block;
  padding: 40px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);
  position: relative;
}

.header .header-list .header-link.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
}

.header-link.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
}

.hero {
  padding-top: 320px;
  padding-bottom: 335px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/mainbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1920px;
  margin: 0 auto;
}

.hero {
  background-color: var(--secondary-title-color);
}

.hero-text {
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.hero-title {
  max-width: 829px;
  margin: 0 auto 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: var(--primary-title-color);
}

.services {
  padding-top: 110px;
  padding-bottom: 105px;
}

.services-title {
  max-width: 739px;
  margin: 0 auto 50px;
  color: var(--secondary-title-color);
  text-align: center;
}

.services-text {
  max-width: 730px;
  margin: 0 auto 70px;
  text-align: center;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.services-item {
  width: 353px;
  display: flex;
}

.services-icon {
  fill: var(--accent-color);
  transition: fill 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inner-circle {
  width: 90px;
  height: 90px;
  border: 1px solid var(--accent-color);
}

.inner-circle:hover,
.inner-circle:focus,
.inner-circle:hover .services-icon,
.inner-circle:focus .services-icon {
  background-color: var(--accent-color);
  fill: #fff;
}

.inner-circle:hover, .inner-circle:focus,
.inner-circle:hover .services-icon,
.inner-circle:focus .services-icon {
  background-color: var(--accent-color);
}

.outer-circle {
  width: 110px;
  height: 110px;
  border: 1px solid #e0e0e0;
  flex-shrink: 0;
  margin-right: 17px;
}

.outer-circle:hover {
  background-color: gray;
}

.outer-circle:hover .inner-circle,
.outer-circle:hover svg {
  background-color: var(--accent-color);
  fill: #fff;
}

.services-item-content {
  margin-top: 46px;
}

.services-list-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--subtitle-color);
}

.services-list-text {
  font-size: 14px;
}

.services-button {
  margin: 0 auto;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 90px;
  margin-bottom: 70px;
}

.about-title {
  margin-bottom: 14px;
  color: var(--secondary-title-color);
}

.about-text {
  margin-bottom: 30px;
}

.about-project-list {
  display: flex;
  justify-content: space-evenly;
}

.about-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-project-item {
  width: 104px;
}

.about-project-number {
  font-size: 36px;
  line-height: 1.47;
  color: var(--subtitle-color);
}

.works {
  padding-top: 100px;
  padding-bottom: 85px;
  background: linear-gradient(180deg, #504dc2 50%, #ffffff 50%);
}

.works-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.works-title {
  max-width: 540px;
  color: var(--primary-title-color);
}

.works-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
  padding-bottom: 85px;
  border-bottom: 1px solid #e0e0e0;
}

.works-item {
  /* width: calc((100% - 60px) / 3); */
  width: 350px;
  margin-left: 30px;
  margin-top: 30px;
}

.works-img,
.work-subtitle,
.works-txt {
  margin-bottom: 30px;
}

.projects {
  padding-top: 100px;
  padding-bottom: 130px;
}

.projects-title {
  text-align: center;
  margin-bottom: 50px;
}

.projects-txt {
  max-width: 730px;
  margin: 0 auto 70px;
  text-align: center;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 50px;
}

.projects-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.projects-button {
  margin: 0 auto;
}

.video {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("../images/mainbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
  padding-bottom: 420px;
  position: relative;
}

.video-title {
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 30px;
}

.video-txt {
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: var(--secondary-text-color);
}

.video-content {
  position: absolute;
  width: 970px;
  height: 430px;
  bottom: -80px;
  left: calc(50% - 485px);
}

.subscribe {
  padding-top: 165px;
  padding-bottom: 85px;
}

.subscribe .container {
  border-top: 1px solid #e0e0e0;
  padding-top: 85px;
}

.subscribe-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin-bottom: 20px;
  color: var(--subtitle-color);
}

.subscribe-text-top {
  text-align: center;
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */