body {
  font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.typical-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.47;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: var(--primary-text-color);
}